<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pixelly</title>
  <link rel="stylesheet" href="/static/main.css" type="text/css">
</head>

<body>
  <h2>here's your ascii art</h2>
  <div id="fileview">{{ content }}</div>
</body>
</html>

