<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pixelly</title>
  <link rel="stylesheet" href="/static/main.css" type="text/css">
</head>

<body>
  <div class="container">
    <h1 class="page-title"><a href="/">pixelly</a></h1>
    <h2>for all your ascii art needs</h2>
    <p>
      do you love ascii art? well we sure do! upload an image file
      here and we'll convert it into ascii art for you. we can't
      wait to see what you'll create!
    </p>

    <h2>submit your image</h2>
    <p>
      valid file types include png, jpg, gif, etc., and the
      maximum file size is 1 mb.
    </p>
    <form method="post" enctype="multipart/form-data">
      <p>
        <label for="file">choose a file to upload:</label>
        <input type="file" id="file" name="image" accept="image/*">
      </p>
      <p>
        <input type="submit" id="markdown-submit">
      </p>
    </form>
  </div>

</body>
</html>

