<!-- Stop looking at the source code -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Stop looking at the source code</title>
{{#timeoutSoupd}}
<script class="delete">
  var timeout = setTimeout(function () {
    location.replace('/soupd?2');
  }, 2000);
</script>
{{/timeoutSoupd}}
{{#noSourceJr}}
<script>
  window.encryptionKey = 'nosource';
</script>
{{/noSourceJr}}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
<main role="main" class="container">
