{{> header}}
<div class="starter-template">
  <h1>Stop looking at the source code</h1>
  <p class="lead">
    Uh oh, you've been <em>Soup'd</em>!
  </p>
  <img src="/static/img/soup.png" alt="A nice bowl of soup." width="200" height="200">
</div>
<p>Here are some reasons you might be seeing this page.</p>
<ul>
  <li>You aren't using Chrome, which is required for this problem. Sorry!</li>
  <li>You don't have JavaScript and cookies enabled, in which case... sheesh, it's 2018.</li>
  <li>You're trying some funny business, like opening DevTools, eh? Come on, cut it out! It's not like this is a CTF problem or anything...</li>
</ul>
{{> footer}}
